*{
    margin: 0px;
    padding: 0px;
    font-family: "Darker Grotesque", Arial, Helvetica, sans-serif;
    transition: .5s ease-in-out;
    user-select: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-image: url(background-site.png);
    background-position-y: top;
    background-position-x: right;
    background-repeat: repeat;
    overflow: visible;
}
body::-webkit-scrollbar{
    width: 4px;
    background: #1a1a1a;
}
body::-webkit-scrollbar-thumb{
    border: 1px #1a1a1a solid;
    background: #fff;
    border-radius: 3px;
}
/* NAV */
#navBar{
    padding: 15px;
    background: #1A1A1A;
}
#navBar #navContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navBar #navContent #logos{
    display: flex;
    align-items: center;
    gap: 10px;
}
#navBar #navContent #logos .logo-1{
    display: none;
    width: 32px;
}
#navBar #navContent #logos .logo-2{
    width: 190px;
}
#navBar #navContent .searchBar-2{
    display: none;
}
#navBar #searchingBox{
    margin: 10px 0px 0px;
}
#navBar #searchingBox .searchBar-1{
    display: flex;
    padding: 10px 0px;
    width: 100%;
    border: none;
    background: #303030;
    color: #757575;
    border-radius: 10px;
    font-size: 14.5px;
    font-weight: 700;
    text-align: center;
}
#navBar #searchingBox .searchBar-1:focus{
    outline: none;
}
#navBar #searchingBox .searchBar-1::placeholder{
    text-transform: initial;
}
@media (min-width: 375px){
    #navBar #navContent #logos .logo-1{
        display: block;
    }
}
@media (min-width: 512px){
    #navBar #searchingBox{
        display: none;
    }
    #navBar #navContent .searchBar-2{
        display: block;
        width: 35%;
        padding: 5px 0px;
        border: none;
        background: #303030;
        color: #757575;
        border-radius: 10px;
        font-size: 14.5px;
        font-weight: 700;
        text-align: center;
    }
    #navBar #navContent .searchBar-2:focus{
        outline: none;
    }
    #navBar #navContent .searchBar-2::placeholder{
        text-transform: initial;
    }
}
@media (min-width: 768px){
    #navBar #navContent .searchBar-2{
        width: 40%;
    }
}
@media (min-width: 1280px){
    #navBar{
        padding: 20px;
    }
}
@media (min-width: 1400px){
    #navBar #navContent .searchBar-2{
        width: 32.5%;
    }
}
/* MAIN CONTENT */
#mainContent{
    flex: 1 1 0;
}
/* HEADER */
#headerSlider{
    display: block;
    position: relative;
    top: 0px;
    visibility: visible;
    opacity: 1;
    border-bottom: 1px solid #f1f1f125;
    box-shadow: 0px 20px 20px #00000015;
}
#headerSlider #sliderContent{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
}
#headerSlider #sliderContent .sliderImg{
    width: 100%;
    position: relative;
    left: 0%;
    cursor: pointer;
}
@media (min-width: 512px){
    #headerSlider{
        display: none;
    }
}
/* CATÁLOGO */
#catalog{
    padding: 0px 0px 50px;
}
#catalog h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 37px;
    text-align: center;
    max-width: 250px;
    padding: 40px 0px 40px;
    margin: 0 auto;
    color: #fff;
    animation: 4s tituloCatalogo infinite;
}
@keyframes tituloCatalogo{
    0%, 100%{
        text-shadow: 0px 3px 20px #00000020;
    }
    50%{
        text-shadow: 0px 3px 20px #ffffff90;
    }
}
#catalog h1::after{
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin: 40px auto 0px;
    border-radius: 2px;
    background: #ffffff70;
}
#catalog #catalogContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0px 5px 0px;
}
#catalog #catalogContent #noResults{
    display: none;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ffffff35;
    background: #ffffff40;
    box-shadow: 0px 3px 20px #00000020;
    text-align: center;
}
#catalog #catalogContent #noResults p{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    padding: 20px;
}
#catalog #catalogContent .product{
    width: 125px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ffffff35;
    background: #ffffff40;
    box-shadow: 0px 3px 20px #00000020;
    transition: .270s ease-in-out;
}
#catalog #catalogContent .product:hover{
    box-shadow: 0px 3px 20px #00000070;
}
#catalog #catalogContent .product .productContent .productImg{
    width: 100%;
    border-radius: 15px;
    border: 1px solid #ffffff35;
    color: #fff;
}
#catalog #catalogContent .product .productContent .productName{
    font-size: 28px;
    font-weight: 900;
    line-height: 24px;
    margin: 5px 0px 0px;
    color: #fff;
}
#catalog #catalogContent .product .productContent .price{
    display: block;
    font-size: 28px;
    font-weight: 900;
    margin: -5px 0px 0px;
    color: #05FF00;
}
#catalog #catalogContent .product .productContent .desc{
    list-style: none;
    list-style-position: inside;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    margin: 10px 0px 20px;
}
#catalog #catalogContent .product .productContent .desc li::marker{
    content: '•ㅤ';
}
#catalog #catalogContent .product .productContent > a{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 23px;
    font-weight: 900;
    padding: 6px 0px 8px;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    background: #05FF00;
    position: relative;
    top: 0px;
    transition: .270s ease-in-out;
}
#catalog #catalogContent .product .productContent > a:hover{
    top: -4px;
    box-shadow: 0px 5px 20px #00000020;
}
/* FOOTER */
footer{
    padding: 10px 0px;
    background: #1A1A1A;
    box-shadow: 0px 0px 20px #00000025;
    border-top: 1px solid #ffffff20;
    text-align: center;
}
footer #footerContent a{
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
}
footer #footerContent a span{
    display: inline-block;
    font-size: 22px;
    animation: 3.5s gemStoneBrighting infinite;
}
@keyframes gemStoneBrighting{
    50%{
        text-shadow: 0px 0px 15px #00ffff60;
    }
}
footer #footerContent p{
    font-size: 13px;
    color: #fff;
}
footer #socials{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    margin: 15px 0px 7.5px;
}
footer #socials a{
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #00000035;
}
footer #socials a img{
    width: 42px;
}
@media (min-width: 512px){
    footer{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 20px 0px;
    }
    footer #footerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer #socials{
        margin: 0px;
    }
    footer #socials a{
        align-items: center;
    }
    footer #footerContent a{
        margin-top: -5px;
    }
}
/* POP-UP 1º */
#warning{
    opacity: 0;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #00000090;
}
#warningContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 260px;
    padding: 15px;
    background: #1A1A1A;
    color: #fff;
    border-radius: 20px;
    border: 1px #ffffff10 solid;
    box-shadow: 0px 0px 20px #00000090;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#warningContent h2{
    font-weight: 900;
    font-size: 32px;
}
#warningContent h2::after{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #ffffff55;
    border-radius: 50%;
    margin: 10px auto;
}
#warningContent p{
    line-height: 14px;
    max-width: 230px;
}
#warningContent .close-button{
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 26px;
    cursor: pointer;
}